{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block mainContainer %}
<h2 style='text-align:center;'>
<a href="{{path('add_vente')}}"><button class='btn btn-success w-50'> Ajouter une nouvelle vente</button></a>
</h2>
  <h1 style="
  text-align:center;
  background-color: red;
  color: white;
  pading: 1%;
  margin-top:20px;
  ">
    LISTE DES VENTES
  </h1>
  <table>
  {% if ventes is empty %}
  <table class="table table-striped mt-5">
         <thead>
            <tr>
                <th col>N°</th>
                <th>Date de la vente</th>
                <th>Quantité de la vente</th> 
                <th>Article vendu</th> 
                <th>Vendeur</th> 
                <th colspan = "3">Actions</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td colspan="5" style="text-align:center;">
                    <h2 class='alert alert-info'>AUCUNE VENTE</h2>
                </td>
            </tr>
        </tbody>
    </table>
  
  {% else %}
      <table class="table table-striped mt-5">
         <thead>
            <tr>
                <th col>N°</th>
                <th>Date de la vente</th>
                <th>Quantité de la vente</th> 
                <th>Article vendu</th> 
                <th>Vendeur</th> 
                <th colspan = "3">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for vente in ventes %}
            <tr>
                <td>{{ loop.index}}</td>
                <td>{{ vente.date|date}}</td>
                <td>{{ vente.qte }}</td>
                <td>{{ vente.article }}</td>
                <td>{{ vente.gerant }}</td>
                <td>
                    <a href="#"><button class="btn btn-outline-primary">Voir</button></a>
                    <a href="{{path('update_vente',{'id':vente.id})}}"><button class="btn btn-primary">Modifier</button></a>
                    <a href="{{path('delete_vente',{'id':vente.id})}}"><button class="btn btn-danger" 
                            onclick="return confirm('Êtes-vous sûr de supprimer?');">supprimer</button></a>
                </td>
            </tr>
            {% endfor %}
      </table>
      {% endif %}

{% endblock %}
