{% extends 'base.html.twig' %}


{% block mainContainer %}

{% block back %}<a href="{{path('articles_index')}}"
    <button class="btn btn-success" style="margin:10px">Retour à la liste</button>
  </a>{% endblock %}

{% block title %}<h1 
style="
  text-align:center;
  background-color: red;
  color: white;
  pading: 1%;
  margin-top:20px;
  "> Ajouter un article </h1>{% endblock %}

<div class="row">
<div class="col-md-7 mx-auto">
{{ form_start(form) }}
  <div class="form-group">
    {{ form_label (form.libelle,"Libelle")}}
    {{form_widget(form.libelle, {'attr':{class:'form-control',"placeholder":"Libelle"}})}}
  </div>

  <div class="form-group">
    {{ form_label (form.prix,"Prix")}}
    {{form_widget(form.prix, {'attr':{class:'form-control',"placeholder":"Prix"}})}}
  </div>

  <div class="form-group">
    {{ form_label (form.code,"Code")}}
    {{form_widget(form.code, {'attr':{class:'form-control',"placeholder":"Code"}})}}
  </div>

  <div class="form-group">
    {{ form_label (form.categorie,"Catégorie")}}
    {{form_widget(form.categorie, {'attr':{class:'form-control',"placeholder":"Catégorie"}})}}
  </div>

{% block stock %}
 <div class="form-group">
    {{ form_label (form.stock,"Stock")}}
    {{form_widget(form.stock, {'attr':{class:'form-control',"placeholder":"Stock",'min':'1', 'value':"1"}})}}
</div>
{% endblock %}
   


  <!--div class="form-group">
  <label>Categorie</label>
  <select name="categorie" class="form-control">
  <option value="1">Auto</option>
  <option value="2">vetements</option>
  </select>
  </div-->

  <!--div class="form-group">
  <label>Stock</label>
  <input type="number" name="stock" class="form-control" min='1' value="1"/>
  </div-->

{% block button %}
<div class="form-group">
  <button type="submit" class="btn btn-lg btn-primary mt-5 w-100">Enregistrer</button>
</div>
{% endblock %}

  {{ form_end(form) }}
</div>
</div>
{% endblock %}
